<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Kayıt Başarılı</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">
    <div class="alert alert-success shadow-lg" role="alert">
        <h4 class="alert-heading">🎉 Kayıt Başarılı!</h4>
        <p>Yeni kullanıcı profiliniz başarıyla oluşturuldu.</p>
        <hr>
        <a href="{% url 'create_userprofile' %}" class="btn btn-primary">Yeni Kayıt Ekle</a>

        <a href="{% url 'user_list' %}" class="btn btn-primary">Kullanıcıları Gör</a>
    </div>
</div>

</body>
</html>
